[submodule "deps/secp256k1"]
	path = deps/secp256k1
	url = https://github.com/bitcoin-core/secp256k1
	branch = master
	ignore = dirty
	shallow = true
[submodule "deps/nostcat"]
	path = deps/nostcat
    url = https://github.com/gnostr-org/nostcat.git
	branch = master
	ignore = dirty
	shallow = true
[submodule "deps/git"]
	path = deps/git
	url = https://github.com/gnostr-org/git.git
	branch = master
	ignore = dirty
	shallow = true
[submodule "deps/tcl"]
	path = deps/tcl
	url = https://github.com/gnostr-org/tcl.git
	branch = master
	ignore = dirty
	shallow = true
[submodule "deps/jq"]
	path = deps/jq
	url = https://github.com/gnostr-org/jq.git
	branch = master
	ignore = dirty
	shallow = true
[submodule "deps/hyper-nostr"]
	path = deps/hyper-nostr
	url = https://github.com/gnostr-org/hyper-nostr.git
	branch = master
	ignore = dirty
	shallow = true
[submodule "deps/openssl"]
	path = deps/openssl
	url = https://github.com/gnostr-org/openssl.git
	branch = master
	ignore = dirty
	shallow = true
[submodule "deps/act"]
	path = deps/act
	url = https://github.com/gnostr-org/act.git
